<div class="container_blue"></div>
<div class="container_center">
    <div class="form col-sm-4">
        <form (submit)="login()">
            <div class="img">
                <img src="../assets/login2.png" alt="">
            </div>
            <div *ngIf="errorMessage" class="error-message text-center p-4">
                {{ errorMessage }}
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" [(ngModel)]="email" name="email" required class="form-control"
                    id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" id="password" [(ngModel)]="password" name="password" required
                    class="form-control" id="password">
            </div>

            <div class="flex items-start mb-3">
                <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Vous n'avez pas
                    de compte
                    <a routerLink="/register" class="text-blue-600 hover:underline dark:text-blue-500">Creer un
                        compte</a>.</label>
            </div>
            <div class="button_login">
                <button type="submit"
                    class="btn text-white btn_valide hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Se
                    connecter</button>
            </div>
        </form>
    </div>

</div>