<div class="example-boundary" id="screen-content">
  <ng-container *ngIf="authService.selected_memes  != '' ">
    <img class="meme_image rounded-start" *ngIf="authService.selected_memes" [src]="authService.selected_memes"
      alt="memes">
  </ng-container>
  <ng-container *ngIf="authService.selected_memes  == '' ">
    <img class="meme_image rounded-start" *ngIf="authService.imageBase64" [src]="authService.imageBase64" alt="memes">
  </ng-container>

  <div *ngFor="let field of authService.les_texts; let i = index">
    <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
      <p class="p-0" [ngStyle]="{
          'font-style': authService.fieldStyles[i]?.isItalic ? 'italic' : 'normal',
          'font-weight': authService.fieldStyles[i]?.isBold ? 'bold' : 'normal',
          'color': authService.fieldStyles[i]?.color || '#000',
          'font-size': (authService.fieldStyles[i]?.fontSize || 16) + 'px',
          'transform': 'rotate(' + (authService.fieldStyles[i]?.rotation || 0) + 'deg)',
          'text-transform': field.value.toUpperCase() === field.value ? 'uppercase' : 'lowercase'
        }">
        {{ field.value }}
      </p>
    </div>
  </div>
</div>
