.card {
    .add_image {
        display: flex;
        justify-content: space-between;
    }

    //     width: 190px;
    //  height: 254px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;


}

.les_cardes{
    display: flex;
    margin-top: 15px;
    overflow-y: scroll;
}


  
  .radio-inputs {
    position: relative;
    margin-top: 20px;
    margin-left: 13px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #182b1c;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 200px;
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: #fff;
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #000;
    color: #569E67;
    font-weight: 600;
  }


