<div>
    <h1>hello</h1>
    <img #elementToCapturerecto class="" [src]="this.authService.selected_memes"
                            alt="memes"  />

</div>
                        <button (click)="takeScreenshot()">Prendre une capture d'écran</button>


<div class="row justify-content-center p-5">
    <div class="card col-md-12 mb-3" style="max-width: 1340px;">
        <div class="row g-0">
            <div class="col-md-6">
                <!-- <app-img-memes></app-img-memes> -->
                <div class="example-boundary">
                    <
                    <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                       <p [ngStyle]="{'font-style': authService.isItalic ? 'italic' : 'normal', 
                       'font-weight': authService.isBold ? 'bold' : 'normal', 
                       'color': authService.textColor, 
                       'font-size': authService.fontSize + 'px'}">{{this.authService.le_texte}}</p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <!-- <h5 class="card-title">Card title</h5> -->


                    <div class="d-flex add_image">
                        <button class="btn btn-outline-success" data-bs-target="#exampleModalToggle"
                            data-bs-toggle="modal">Telecharger un nouveau modèle</button>

                        <div class="ms-5">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Rechercher tous les mèmes"
                                    aria-label="Search">
                            </form>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <form [formGroup]="radioForm">
                            <div class="radio-inputs">
                                <label class="radio">
                                    <input type="radio" formControlName="option" value="mon">
                                    <span class="name">Mon</span>
                                </label>
                                <label class="radio">
                                    <input type="radio" formControlName="option" value="populaire">
                                    <span class="name">Populaire</span>
                                </label>
                            </div>
                        </form>


                        <!-- <div class="radio-inputs">
                            <label class="radio">
                                <input type="radio" name="radio" checked="">
                                <span class="name">Mon</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="radio">
                                <span class="name">Populaire</span>
                            </label>
                        </div> -->
                    </div>


                    <!-- Les Cardes des Memes -->
                    <div class="les_cardes">
                        <div *ngIf="selectedOption === 'populaire'">
                            <app-popular-mimes></app-popular-mimes>
                        </div>
                        <div *ngIf="selectedOption === 'mon'">
                            <app-mon-memes></app-mon-memes>
                        </div>
                    </div>

                    <!-- <form [formGroup]="form">
                        <div formArrayName="inputs">
                            <div *ngFor="let input of inputs.controls; let i = index" [formGroupName]="i">
                                <input type="text" formControlName="value" placeholder="Entrez du texte" />
                                <button (click)="removeInput(i)">Supprimer</button>
                            </div>
                        </div>
                        <button type="button" (click)="addInput()">Ajouter un champ</button>
                    </form> -->

                    <form class="mt-4" [formGroup]="form">
                        <div formArrayName="inputs">
                            <div class="mb-3 d-flex" *ngFor="let input of inputs.controls; let i = index"
                                [formGroupName]="i">
                                <div class="col-10">
                                    <input type="email" formControlName="value" placeholder="Texte {{i+1}}" class="form-control"
                                        id="exampleInputEmail1" aria-describedby="emailHelp">

                                </div>
                                <div class="col-1 ms-2">
                                    <button (click)="removeInput(i)" class="btn btn-outline-danger" type="submit"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <p class="d-inline-flex gap-1">
                                <!-- Italique -->
                                <button (click)="toggleItalic()" class="btn" data-bs-toggle="button"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                        class="bi bi-type-italic" viewBox="0 0 16 16">
                                        <path
                                            d="M7.991 11.674 9.53 4.455c.123-.595.246-.71 1.347-.807l.11-.52H7.211l-.11.52c1.06.096 1.128.212 1.005.807L6.57 11.674c-.123.595-.246.71-1.346.806l-.11.52h3.774l.11-.52c-1.06-.095-1.129-.211-1.006-.806z" />
                                    </svg>
                                </button>
                                <!-- Gras -->
                                <button (click)="toggleBold()" type="button" class="btn" data-bs-toggle="button">
                                    <svg width="22" height="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                                        id="text">
                                        <path
                                            d="M6 24h20v6H6zm6.4-6h7.2l1.4 4h4L18 2h-4L7 22h4l1.4-4zM16 7.714 18.2 14h-4.4L16 7.714z">
                                        </path>
                                    </svg>
                                </button>

                                <button type="button" class="btn" data-bs-toggle="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 16 16"
                                        id="Text">
                                        <path fill="#422e18"
                                            d="M12.5 4.9c-1.4 0-2.5.8-2.6.9l1.2 1.6s.7-.5 1.4-.5c1.4 0 1.5 1.2 1.5 1.6-.4-.1-1.1-.3-2-.1-1.4.3-2.8 2-2.1 3.9.7 1.8 3.1 2.1 4.1.6v1h2V8.6c0-2.7-1.9-3.7-3.5-3.7zm-1 6.5C11.4 9.5 13 9.5 14 9.6v1c0 1.2-2.3 2.3-2.5.8zM6.9 14H9L5.8 2H3.1L0 14h2.1l1-4h2.7l1.1 4zM3.6 8l.8-3.2.9 3.2H3.6z"
                                            class="color444444 svgShape"></path>
                                    </svg>
                                </button>
                             
                                <!-- Augmenter taille -->
                                <button (click)="increaseFontSize()" type="button" class="btn btn-outline-info">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 16 16"
                                        id="Plus">
                                        <g fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2"
                                            class="colorStroke000000 svgStroke">
                                            <path d="M8 1v14M1 8h14" fill="#422e18" class="color000000 svgShape"></path>
                                        </g>
                                    </svg>
                                </button>
                                <!-- Diminuer taille -->
                                <button (click)="decreaseFontSize()" type="button" class="btn btn-outline-info">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 64 64"
                                        id="Remove">
                                        <line x2="64" y1="32" y2="32" fill="none" stroke="#422e18"
                                            stroke-miterlimit="10" stroke-width="4" class="colorStroke010101 svgStroke">
                                        </line>
                                    </svg>

                                </button>
                                <button type="button" class="btn btn-outline-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 8 8"
                                        id="Reload">
                                        <path
                                            d="M4 0C1.8 0 0 1.8 0 4s1.8 4 4 4c1.1 0 2.12-.43 2.84-1.16l-.72-.72c-.54.54-1.29.88-2.13.88-1.66 0-3-1.34-3-3s1.34-3 3-3c.83 0 1.55.36 2.09.91L4.99 3h3V0L6.8 1.19C6.08.47 5.09 0 3.99 0z"
                                            fill="#422e18" class="color000000 svgShape"></path>
                                    </svg>

                                </button>

                                <input type="color" (change)="onColorChange($event)" value="{{authService.textColor}}" />

                            </p>

                            <div>
                                <h4>Options de texte :</h4>
                                <!-- <button >Italique</button> -->
                                <!-- <button (click)="toggleBold()">Gras</button> -->
                                <!-- <button (click)="increaseFontSize()">Augmenter taille</button> -->
                                <!-- <button (click)="decreaseFontSize()">Diminuer taille</button> -->
                                <button (click)="setUppercase()">Majuscule</button>
                                <button (click)="setLowercase()">Minuscule</button>
                                <button (click)="resetTransform()">Réinitialiser</button>
                            </div>


                        </div>
                        <div class="d-grid gap-2 col-11">
                            <button (click)="addInput()" class="btn btn-outline-success" type="button">Ajouter
                                texte</button>
                        </div>
                    </form>


                    <button class="animated-button mt-5" data-bs-target="#exampleModalToggle2"
                    data-bs-toggle="modal">
                        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                            </path>
                        </svg>
                        <span class="text">Gènèrer le meme</span>
                        <span class="circle"></span>
                        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Ajouter un Mème</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-add-memes></app-add-memes>
            </div>
            <div class="modal-footer">
                <!-- <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button> -->
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Ajouter un image</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-generer></app-generer>
            </div>
            <div class="modal-footer">
                <!-- <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button> -->
            </div>
        </div>
    </div>
</div>